@font-face {
    font-family: 'Myriad';
    src: url(./Myriad.TTF);
}

@font-face {
    font-family: 'FiraGo';
    src: url(./FiraGO-M.otf);
}


@font-face {
    font-family: 'FiraL';
    src: url(./FiraGO.TTF);
}
