* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header {
    max-width: 1400px;
    width: 100%;
}
.container {
    max-width: 1400px;
    width: 100%;
}
.background {
    position: absolute;
    opacity: 0.1;
    max-width: 1400px;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.rt {
    justify-content: flex-start;
    margin-right: -90px;
}
.lt {
    justify-content: flex-end;
    margin-left: -70px;
}

/* navigation block */
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color: rgba(224, 218, 218, 0.164);
    border-radius: 30px;
    margin-bottom: 70px;
    background-color: #FFFFFF;
}
.line-menu {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffad;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    border-radius: 10px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.line-menu:hover .dropdown-content {
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* search left pannel */
.icon-bar a {
    display: inline-block;
    width: 50px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.3s ease;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.icon-bar a:hover {
    background-color: #7ac57367;
    border-radius: 9px;
}
.lang-bar {
    display: none;
}

/* section start */
.contact-header{
    max-width: 1187px;
    width: 100%;
    padding-left: 60px;
    color: #111111;
}
.contact-header li {
    display: inline-block;
    font-family: 'FiraGO';
    font-size: 14px;
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;
}
.mob-rem a {
    text-decoration: none;
    color: #C8C8C8;
    font-family: 'FiraGO';
    font-size: 14px;
}
 a {
    text-decoration: none;
    color: #111111;
}
.contact-header a:hover {
    color: black;
}

/* second section */
.background1 {
    position: relative;
    opacity: 0.1;
    display: flex;
    overflow: hidden;
}
.rb {
    justify-content: flex-end;
    margin-left: -50px;
}
.lb {
    justify-content: flex-start;
    margin-right: -60px;
}
.data-box {
    display: flex;
    max-width: 1400px;
    width: 100%;
}
.middle1 {
    max-width: 416px;
    width: 100%;
    padding-top: 45px;
}
.middle1 p {
    padding-top: 27px;
    font-family: 'FiraGO';
    font-size: 12px;
    color: #6E6E6E;
    line-height: 1.6;
    height: 92px;
}

/* about us section */
.about-us {
    max-width: 782px;
    width: 100%;
}
.about-us h2 {
    font-family: 'Myriad';
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 58px;
}
.about-us p {
    font-family: 'FiraGO';
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

/* product lightbox */
.product-lightbox {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}
.row > .column {
    padding: 0 8px;
}
.row {
    display: flex;
    flex-direction: column;
    max-width: 80px;
    width: 100%;
    margin-top: 61px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  /* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}
.column img {
    width: 75px;
    object-fit: contain;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
}
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
/* Hide the slides by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
img.demo {
    opacity: 0.6;
}
.active, .demo:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* main product section */
.main-product img {
    width: 378px;
    height: 370px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.about-product {
    max-width: 378px;
    width: 100%;
}
.prod-name {
    max-width: 290px;
    width: 100%;
    /* float: left; */
}
.prod-name p {
    font-family: 'Myriad';
    font-size: 18px;
}
.prod-name span {
    font-family: 'Myriad';
    font-size: 18px;
}
.prod-code {
    color: #9C9C9C;
    font-family: 'FiraGO';
    font-size: 12px;
    padding-left: 46px;
    padding-right: 25px;
}
.fb-share {
    font-family: 'FiraGO';
    font-size: 12px;
    font-weight: 600;
}
.weight-but {
    max-width: 355px;
    width: 100%;
    margin-top: 19px;
    padding-left: 27px;
}
.weight-but button{
    background-color: #E7E7E7;
    border-radius: 4px;
    width: 105px;
    height: 35px;
    font-family: 'FiraGo';
    font-size: 13px;
    border: none;
    margin-right: 1px;
    margin-top: 10px;
    opacity: 30%;
}
.weight-but button:hover {
    opacity: 100%;
}
.prod-text {
    max-width: 378px;
    width: 100%;
    word-break: break-word;
    font-family: 'FiraL';
    font-size: 12px;
    padding-left: 40px;
    margin-top: 30px;
    overflow: hidden;
    line-height: 19px;
}
/* See more button  */
.see-more {
    display: block;
    color: #9C9C9C;
    background-color: transparent;
    font-family: 'FiraL';
    font-size: 12px;
    max-width: 378px;
    width: 100%;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
#more {display: none;}
.see-more:after{
    content: '\005E';
    padding-top: 5px;
}

/* addvertisment section */
.add-part {
    max-width: 277px;
    width: 100%;
    height: 256px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
    padding-top: 30px;
}
.price-part span {
    padding-left: 15px;
}
.add-price {
    font-family: 'FiraGO';
    font-size: 24px;
    color: #F5621F;
}
.add-dics {
    font-family: 'FiraGO';
    font-size: 14px;
    text-decoration: line-through;
}
.add-more {
    width: 217px;
    height: 54px;
    background-color: #F8F8F8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.add-more img {
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}
.add-more span {
    font-family: 'FiraGO';
    font-size: 24px;
}
.add-cart {
    width: 217px;
    height: 54px;
    background-color: #74B42C;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: rgb(0 0 0 / 10%);
}
.add-cart span {
    font-family: 'FiraGO';
    font-size: 12px;
    color: white;
}
.add-cart img {
    text-align: center;
    padding-top: 10px;
}
.cart-box {
    background-color: white;
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    border-radius: 4px;
}
.addvert-image {
    margin: 60px 0 60px 0;
    max-width: 277px;
    width: 100%;
    height: 90px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
/* table section */
.dog-table {
    width: 100%;
    overflow-x:auto;
    overflow:scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
table {
    border-collapse: collapse;
    cursor: pointer;
}
.dog-1, .dog-2 {
    display: inline-block;
}
.dog-1 {
    margin-left: 40px;
}
.dog-3 {
    display: inline-block;
}
.table-header {
    margin-top: 165px;
    font-family: 'Myriad';
    font-size: 28px;
    padding-left: 40px;
    margin-bottom: 41px;
}   
th, td{
    text-align: left;
    font-family: 'FiraGO';
    border-bottom: 1px solid #ddd;
    padding: 20px 0 20px 0;
}
th {
    margin-right: 93px;
    padding-right: 25px;
    color: #9C9C9C;
}
tr:hover {background-color: #75b42c87;}
.degree, h2:after {
    content: ' \00B0';
    font-family: 'FiraGO';
    font-size: 16px;
}

/* Footer */
.data-box {
    margin-top: 130px;
}
.mob-footer {
    display: none;
}
.site-footer{
    max-width: 600px;
    width: 100%;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.row-box {
    display: flex;
}
.boxx {
    margin-left: 90px;
    position: absolute;
}
.site-footer [class^=col-]{
    margin-left: 60px;
}
.site-footer h6{
    font-family: 'Myriad';
    color: #111111;
    font-size: 14px;
    margin-top: 5px;
}
.site-footer a{
    color: #737373;
}
.site-footer a:hover{
    color: #3366cc;
    text-decoration: none;
}
.footer-links{
    list-style: none;
}
.footer-links li{
    display: block;
}
.footer-links a{
    position: relative;
    text-decoration: none;
    line-height: 200%;
}
.sol-fb p{
    margin-top: 30px;
    position: absolute;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 5px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#111111;
}
.footer-links.inline li{
    display: inline-block;
}
.site-footer .social-icons{
    text-align:right;
}
.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:6px;
}
@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px){
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer, .copyright-text,.site-footer, .social-icons
  {
    text-align:center;
  }
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px;
}
.social-icons li.title{
    margin-right:190px;
    color:#96a2b2;
    font-weight:700;
    font-size:12px;
    font-family: 'FiraGo';
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe;
}
@media (max-width:767px){
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}

/* footer section */
footer {
    max-width: 1400px;
    width: 100%;
    display: flex;
    padding-top: 144px;
    background-image: linear-gradient(180deg, #fff, #dfe8ef);
}
.part1 {
    display: flex;
    justify-content: center;
    align-content: center;
}
.part1 img{
    position: relative;
    max-width: 100%;
    height: auto;
}
.part1 p {
    position: absolute;
    padding-top: 60px;
    font-family: 'FiraGO';
    color: #9C9C9C;
    font-size: 14px;
}
.part2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -120px;
}
.part2 img{
    position: relative;
    max-width: 90%;
    height: auto;
}
.part2 p {
    position: absolute;
    padding-top: 60px;
    font-family: 'FiraGO';
    color: #111111;
    font-size: 14px;
}
.part2 span {
    color: #74B42C;
    font-family: 'FiraGO';
    font-size: 14px;
}
.part3 {
    display: flex;
    justify-content: center;
    margin-left: -100px;
}
.part3 img{
    position: relative;
    max-width: 100%;
    height: auto;
}
.fo-lo {
    display: flex;
    position: absolute;
    align-content: center;
    padding-left: 90px;
}
.fo-lo a{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 64px 30px 0 0;
}
.tbc{
    width: 25px; 
    height: 25px;
}

/* mobile divs */
.lang-bar {
    display: none;
}
.mob-footer {
    display: none;
}
.pill-nav {
    display: flex;
    flex-direction: row;
    max-width: 565px;
    width: 100%;
}
.pill-nav a {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Myriad';
    font-size: 10px;
    border-radius: 5px;
}
.pill-nav a:hover {
    background-color: rgba(215, 224, 181, 0.418);
    color: #74B42C;
}
.pill-nav a.active {
    color: #74B42C;
}
.bar4, .bar5, .bar6 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 0px 10px 5px 10px;
    transition: 0.4s;
}
.change .bar4 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-5px, 4px);
}
.change .bar5 {opacity: 0;}
.change .bar6 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Dropup Button */
.dropbtn-footer {
    background-color: #74B42C;
    border-radius: 20px 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    color: #74B42C;
    border: none;
}  
.dropup {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    left: -30%;
    background-color: rgba(96, 235, 16, 0.885);
    min-width: 60px;
    z-index: 1;
    border-radius: 6px;
}
.dropup-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}
.dropup-content a:hover {background-color: #ddd}
.dropup:hover .dropup-content {
    display: block;
}
.dropup:hover .dropbtn {
    background-color: rgba(96, 235, 16, 0.801);
}
.mob-filter {
    display: none;
}
.mobile-product-lightbox{
    display: none;
}