* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1187px;
    width: 100%;
}
/* navigation block */
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color: rgba(224, 218, 218, 0.164);
    border-radius: 30px;
    margin-bottom: 70px;
    background-color: #FFFFFF;
}
.line-menu {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffad;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    border-radius: 10px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.line-menu:hover .dropdown-content {
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* search left pannel */
.icon-bar a {
    display: inline-block;
    width: 50px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.3s ease;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.icon-bar a:hover {
    background-color: #7ac57367;
    border-radius: 25px;
}
.mobile {
    display: none;
    color: black;
    font-family: 'FiraGo';
    cursor: pointer;
}
.mobile p{
    padding-right: 10px;

}
.mobile :hover {
    color: #6E6E6E;
}
/* slider - swiper */
.slider{
    max-width:1186px;
    height:260px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.slide-area{
    height: 100%;
}
.slide-area div{
    width:100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.slider span{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50px;
    max-width: 345px;
    position: absolute;
    top:50%;
    color:#fff;
    line-height: 30px;
    text-align: center;
    font-family: Myriad;
}
.title{
    top:50% !important;
    font-size: 24px;
    text-align: center;
    cursor: auto !important;
    margin-top: -80px !important;
    left: 35%;
}
.slide-area{
    font-size: 24px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
}
#prev{
    left: 35px;
    top: 40%;
    border-radius: 0 10px 10px 0;
    background-color: #33332f52;
}
#next{
    right: 35px;
    top: 40%;
    border-radius: 10px 0 0 10px;
    background-color: #33332f52;
}
#prev svg,#next svg{
    width:100%;
    fill: #fff;
}
#next svg {
    transform: rotate(-180deg);
}
#prev:hover,
#next:hover{
    background-color: rgba(219, 213, 213, 0.8);
}
.button-purchase span{
    position: absolute;
    /* margin: 35px 0 0 -50px; */
    left: 43%;
    top: 65%;
    z-index: 99;
    height: 42px;
    width: 176px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    cursor: pointer;
    font-family: FiraGo;
    padding-top: 8px;
}
.button-purchase span:hover{
    background-color: rgba(59, 179, 89, 0.733);
}
.purchase {
    position: relative;
    background-color: #CAC7C7FF;
    color: rgba(0, 0, 0, 0.8) !important;
    left: 50%;
    cursor: pointer;
    display: block;
    bottom: 25px;
}
.dots {
    position: absolute;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    left: 46.5%;
    z-index: 99;
    text-align: center;
    justify-content: center;
}
.dots span {
    position: relative;
    width: 15px;
    height: 10px;
    background-color: #CAC7C7FF;
    margin: 0 5px;
    cursor: pointer;
    bottom: 25px;
}
.dots span.active {
    background-color: rgb(247, 213, 213);
}

/* promotion section */
.block-3 {
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin-top: 70px;
    font-family: 'Myraid';
    cursor: pointer;
}
.promotion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F7E9;
    width: 278px;
    height: 91px;
    margin: 0 25px 0 0;
    border-radius: 10px;
}
.promotion2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEEFE8;
    width: 278px;
    height: 91px;
    margin: 0 25px 0 0;
    border-radius: 10px;
}
.promotion3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBF7FC;
    width: 278px;
    height: 91px;
    margin: 0 25px 0 0;
    border-radius: 10px;
}
.promotion4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF4FA;
    width: 278px;
    height: 91px;
    margin: 0 25px 0 0;
    border-radius: 10px;
}
.promo-icon1 {
    padding: 10px;
}
.promo-icon2 {
    padding: 10px;
}
.promo-icon3 {
    padding: 10px;
}
.promo-icon4 {
    padding: 10px;
}
.promotion1:hover{
    color: #b8e280;
    box-shadow: 10px 10px #F1F7E9;
}
.promotion2:hover{
    color: #f0b9a0;
    box-shadow: 10px 10px #FEEFE8;
}
.promotion3:hover{
    color: #90cfeb;
    box-shadow: 10px 10px #EBF7FC;
}
.promotion4:hover{
    color: #e997e9;
    box-shadow: 10px 10px #FAF4FA;
}

/* promotion part 2 */
.block-4 {
    max-width: 1200px;
    width: 100%;
}
.grid-container {
    display: grid;
    margin-top: 70px;
    grid-column-gap: 25px;
    grid-template: "item1 item2 item3" 
                   "item1  item4 item4" 
}
.item1 {
    position: relative;
    grid-area: item1;
    max-width: 378px;
}
.item1info {
    display: flex;
    flex-wrap: wrap;
    top: 50%;
}
.info1 {
    position: absolute;
    top: 70px;
    left: 40px;
    font-family: 'Myraid';
    font-size: 14px;
    color: white;
}
.info2 {
    position: absolute;
    top: 109px;
    left: 40px;
    font-family: 'Myraid';
    font-size: 24px;
    color: white;
}
.info3 {
    position: absolute;
    top: 138px;
    left: 40px;
    font-family: 'Myraid';
    font-size: 18px;
    color: white;
}
.infobutton4 {
    position: absolute;
    top: 192px;
    left: 40px;
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Myraid';
    width: 161px;
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
    border-style: none;
}
.item2 {
    position: relative;
    grid-area: item2;
}
.item2 img {
    border-radius: 10px;
}
.info5 {
    position: absolute;
    top: 48px;
    left: 60px;
    font-family: 'Myraid';
    font-size: 24px;
    color: white;
}
.info6 {    
    position: absolute;
    top: 80px;
    left: 60px;
    font-family: 'Myraid';
    font-size: 18px;
    color: white;
}
.info7 {
    position: absolute;
    top: 138px;
    left: 155px;
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Myraid';
    width: 161px;
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
    border-style: none;
}
.item3 {
    position: relative;
    background-color: #75b528;
    background-image: url(../images/bird.png);
    background-position: 98% 85%;
    background-repeat: no-repeat;
    grid-area: item3;
    width: 367px;
    height: 189px;
    border-radius: 10px;
}
.info8 {
    position: absolute;
    top: 78px;
    left: 60px;
    font-family: 'Myraid';
    font-size: 24px;
    color: white;
}
.info9 {
    position: absolute;
    top: 43px;
    left: 60px;
    font-family: 'Myraid';
    font-size: 18px;
    color: white;
}
.info10{
    position: absolute;
    top: 138px;
    left: 60px;
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Myraid';
    width: 161px;
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
    border-style: none;
}
.item4 {
    position: relative;
    background-color: #f5af00;
    background-image: url(../images/Rectangle81.png);
    background-repeat: no-repeat;
    grid-area: item4;
    width: 782px;
    height: 200px;
    border-radius: 6px;
}
.info11 {
    position: absolute;
    top: 40px;
    left: 303px;
    font-family: 'Myraid';
    font-size: 18px;
    color: white;
}
.info12 {
    position: absolute;
    top: 65px;
    left: 303px;
    font-family: 'Myraid';
    font-size: 24px;
    color: white;
}
.info13 {
    position: absolute;
    top: 118px;
    left: 303px;
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Myraid';
    width: 161px;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
    border-style: none;
}

/* block 5 product list  */
.block-5 {
    max-width: 1280px;
    width: 100%;
    margin-top: 70px;
}
.block-5 h2 {
    font-family: 'Myriad';
    font-size: 28px;
    color: #111111;
}
.block-5 h6 {
    font-family: 'FiraGo';
    font-size: 14px;
    color: #9C9C9C;
}
.slide-head {
    display: block;
    max-width: 1200px;
    width: 100%;
    cursor: pointer;
}
.pagination {
    display: none;
    padding-left: 30px;
}
.pagination p {
    color: #E7E7E7;
    float: left;
    padding: 8px 8px;
    text-decoration: none;
    background-color: #E7E7E7;
}
.pagination p.active {
    background-color: #4CAF50;
    color: #4CAF50;
    border-radius: 4px;
}
.pagination p:hover:not(.active) {
    background-color: #4CAF50;
    border-radius: 4px;
    color: #4CAF50;
    cursor: pointer;
}
.pag-last {
    border-radius:0 4px 4px 0;
}

hr {
    border: none;
}
.slidelist{
    margin: 70px 0 30px 0;
	height: 441px;
}
.cs-hidden li {
    list-style-type: none;
    display: inline-block;
    margin: 0 3px;
}
a {
	text-decoration:none;
}
.box {
	width:275px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 6px;
}
.box i {
    color: orange;
    top: 20px;
    right: 16px;
}
.slide-img {
	height: 206px;
	position:relative;
}
.slide-img img {
	box-sizing: border-box;
    position: relative;
    top: 10%;
    left: 20%;
}
.detail-box {
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: 'Myriad';
}
.type {
	display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    font-family: 'Myraid';
    font-size: 18px;
}
.type a {
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span {
	color:rgba(26,26,26,0.5);
    font-family: 'FiraGo';
    font-size: 12px;
    color: #6E6E6E;
}
.type button {
    display: flex;
    color: #111111;
    font-family: 'FiraGO';
    background-color: #F8F8F8;
    border: none;
    width: 103px;
    height: 35px;
    justify-content: center;
    align-items: center;
}
.type button:hover {
    background-color: #E7E7E7;
    color: #111111;
    font-weight: bold;
}
.purchase-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 99px;
}
.price{
	font-size: 1.1rem;
	font-family: 'FiraGo';
	letter-spacing: 0.5px;
}
.price button {
    background-color: #F5621F;
    color: #FFFFFF;
    font-family: 'FiraGo';
    font-size: 12px;
    border-radius: 4px;
}
.price-cart i {
    color: white;
    background-color: #74B42C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px
}
.price-cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Myriad';
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.selection {
    margin: 7px;
    border-radius: 4px;
}

/* middle pannel 6 block */
.block-6 {
    max-width: 1280px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
.sec1 {
    position: relative;;
    height: 500px;
    width: 378px;
    /* margin-right: 26px; */
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.rel {
    position: absolute;
}
.abs1 {
    position: absolute;
    top: 140px;
    left: 50px;
}
.abs2 {
    position: absolute;
    top: 300px;
    left: 50px;
}
.sec2 {
    position: relative;;
    height: 500px;
    width: 378px;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.rel1 {
    position: absolute;
}
.abs3 {
    position: absolute;
    top: 206px;
    left: 136px;
}
.sec2 p {
    position: absolute;
    top: 33px;
    font-family: 'Myraid';
    font-size: 24px;
    word-wrap: break-word;
    width: 222px;
    left: 40px;
}
.sec2 button {
    position: absolute;
    top: 131px;
    left: 40px;
    font-family: 'FiraGO';
    font-size: 14px;
    width: 162px;
    height: 43px;
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.sec3 {
    position: relative;
    height: 500px;
    width: 378px;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.rel2 {
    position: absolute;
    display: flex;
}
.abs4 {
    position: absolute;
    top: 30%;
    left: 30%;	
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.abs5 {
    position: absolute;
    right: 0px;
}
.hd1, .hd2 {
    position: absolute;
    font-family: 'Myraid';
    font-size: 18px;
    color: black;
}
.hd1 {
    top: 40px;
    left: 40px;
    word-wrap: break-word;
    width: 188px;
}
.hd2 {
    top: 365px;
    left: 150px
} 
.pr1 {
    position: absolute;
    font-family: 'FiraGo';
    font-size: 24px;
    right: 14px;
    color: white;
    top: 18px;
}
.pr2 {
    position: absolute;
    font-family: 'FiraGo';
    font-size: 12px;
    top: 50px;
    right: 14px;
    color: white;
    text-decoration: line-through;
}
.sec3 button {
    position: absolute;
    top: 400px;
    left: 114px;
    font-family: 'FiraGO';
    font-size: 14px;
    color: white;
    width: 162px;
    height: 43px;
    border-radius: 6px;
    border: none;
    background-color: #111111;
    cursor: pointer;
}
.arrow {
    border: solid black;
    display: inline-block;
    box-shadow: 3px rgba(0,0,0,0.2);
    position: absolute;
    cursor: pointer;
}
.right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    top: 235px;
    right: 30px;
}
.left {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    top: 235px;
    left: 30px;
}

.block-7 {
    max-width: 1140px;
    width: 100%;
}
.turtle {
    position: relative;
    display: none;
    background-color: #F5AD00;
    width: 400px;
    height: 340px;
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.turtle h2 {
    position: absolute;
    font-size: 28px;
    font-family: 'Myraid';
    color: white;
    max-width: 500px;
}
.see-product {
    position: absolute;
    font-size: 12px;
    font-family: 'Firago';
    border-radius: 6px;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 14px 50px;
    top: 200px;

}
.turtle img {
    position: absolute;
    right: 1px;
    bottom: 1px;
}


/* bottom section, above footer */
.block-9 {
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin-top: 130px;
}
.middle1 {
    max-width: 416px;
    width: 100%;
    padding-top: 45px;
}
.middle1 p {
    padding-top: 27px;
    font-family: 'FiraGO';
    font-size: 12px;
    color: #6E6E6E;
    line-height: 1.6;
    height: 92px;
}
.site-footer{
    max-width: 600px;
    width: 100%;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.row {
    display: flex;
}
.site-footer [class^=col-]{
    margin-left: 100px;
}
.site-footer h6{
    font-family: 'Myraid';
    color: #111111;
    font-size: 14px;
    margin-top: 5px;
}
.site-footer a{
    color: #737373;
}
.site-footer a:hover{
    color: #3366cc;
    text-decoration: none;
}
.footer-links{
    padding-left: 0;
    list-style: none;
}
.footer-links li{
    display: block;
}
.footer-links a{
    position: relative;
    text-decoration: none;
    line-height: 200%;
}
.sol-fb p{
    margin-top: 30px;
    position: absolute;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 5px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#111111;
}
.footer-links.inline li{
    display: inline-block;
}
.site-footer .social-icons{
    text-align:right;
}
.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:6px;
}
@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px){
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer, .copyright-text,.site-footer, .social-icons
  {
    text-align:center;
  }
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px;
}
.social-icons li.title{
    margin-right:190px;
    color:#96a2b2;
    font-weight:700;
    font-size:12px;
    font-family: 'FiraGo';
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe;
}
@media (max-width:767px){
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}

/* swiper sider  */
.block-8 h2 {
    font-family: 'Myraid';
    font-size: 28px;
    margin-bottom: 30px;
}
.swiper {
    width: 1200px;
    height: 100px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer pannel */
footer {
    max-width: 1400px;
    width: 100%;
    display: flex;
    padding-top: 144px;
    background-image: linear-gradient(180deg, #fff, #dfe8ef);
}
.part1 {
    display: flex;
    justify-content: center;
    align-content: center;
}
.part1 img{
    position: relative;
    max-width: 100%;
    height: auto;
}
.part1 p {
    position: absolute;
    padding-top: 60px;
    font-family: 'FiraGO';
    color: #9C9C9C;
    font-size: 14px;
}
.part2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -120px;
}
.part2 img{
    position: relative;
    max-width: 90%;
    height: auto;
}
.part2 p {
    position: absolute;
    padding-top: 60px;
    font-family: 'FiraGO';
    color: #111111;
    font-size: 14px;
}
.part2 span {
    color: #74B42C;
    font-family: 'FiraGO';
    font-size: 14px;
}
.part3 {
    display: flex;
    justify-content: center;
    margin-left: -100px;
}
.part3 img{
    position: relative;
    max-width: 100%;
    height: auto;
}
.fo-lo {
    display: flex;
    position: absolute;
    align-content: center;
    padding-left: 90px;
}
.fo-lo a{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 64px 30px 0 0;
}
.mob-footer {
    display: none;
}

.pill-nav {
    display: flex;
    flex-direction: row;
    max-width: 570px;
    width: 100%;
}
.pill-nav a {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Myraid';
    font-size: 10px;
    border-radius: 5px;
}
.pill-nav a:hover {
    background-color: rgba(215, 224, 181, 0.418);
    color: #74B42C;
}
  
  /* Add a color to the active/current link */
.pill-nav a.active {
    color: #74B42C;
}
.line {
    background-color: #74B42C;
    border-radius: 20px 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 8px;
}
.line :hover {
    color: yellow;
}

.bar4, .bar5, .bar6 {
    width: 19px;
    height: 2px;
    background-color: white;
    margin: 4px 11px;
    transition: 0.4s;
}
.change .bar4 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 4px);
}
.change .bar5 {opacity: 0;}

.change .bar6 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -5px);
}